{% extends "layout.html" %} {% block body %}

<!-- Start Header Area -->
<header class="default-header">
	<div class="container">
		<div class="header-wrap">
			<div class="header-top d-flex justify-content-between align-items-center">
				<div class="logo">
					<a href="/">
						<img id="logoImg" src="{{ url_for('static',filename='img/DKLogo.png') }}" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>
	</div>
</header>
<!-- End Header Area -->
<!-- Start Banner Area -->
<section class="banner-area relative ">
	<div class=" overlay overlay-bg "></div>
	<div class=" container ">
		<div class="row fullscreen align-items-center justify-content-center ">
			<div class=" col-lg-12 ">
				<div class="banner-content">
					<h1>Welcome to Project 1 by
						<br>
						<span class="text-white">D K Sukh</h1>
					</h1>
				</div>

				<div class="form">
					<ul class="tab-group">
						<li class="tab active">
							<a href="#signup">Sign Up</a>
						</li>
						<li class="tab">
							<a href="#login">Log In</a>
						</li>
					</ul>
					<div class="tab-content">
						<div id="signup">
							<form action="{{ url_for('search_pg') }}" method="POST">
								<div class="field-wrap">
									<label>
										Email Address
										<span class="req">*</span>
									</label>
									<input name="email" type="email" required autocomplete="off" />
								</div>
								<div class="field-wrap">
									<label>
										Set A Password
										<span class="req">*</span>
									</label>
									<input name="password" type="password" required autocomplete="off" />
								</div>
								<button type="submit" class="button button-block" name="sign-up_form" />Get Started</button>
							</form>

						</div>

						<div id="login">

							<form action="{{ url_for('search_pg') }}" method="POST">

								<div class="field-wrap">
									<label>
										Email Address
										<span class="req">*</span>
									</label>
									<input name="login_email" type="email" required autocomplete="off" />
								</div>

								<div class="field-wrap">
									<label>
										Enter your password
										<span class="req">*</span>
									</label>
									<input name="login_password" type="password" required autocomplete="off" />
								</div>



								<button class="button button-block" name="login_form" />Log In</button>

							</form>



						</div>

					</div>
					<!-- tab-content -->

				</div>

				{% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
				<p id="flash_message" style="color: red">{{ message }}</p>
				{% endfor %} {% endif %} {% endwith %}


				<!-- /form -->
			</div>
		</div>
	</div>





</section>





{% endblock %}